/* GENERAL*/


.wrapper{ width:  940px; margin : 0 auto; padding : 0 10px;}

.button-wrapper{background-color: darkgray}

body {background-color: white;}

p {font-size: 14px;}



/*FOOTER*/
 
footer{height: 260px; background-color: gray;nborder-top:  10px solid rgb(151,206,236);}

footer h1{color: #c9e6fd; text-align: center; padding-top : 80px;
    font-family:American Typewriter, serif; text-transform: uppercase;font-size: 35px; }

.copyright{ text-align: center; padding-top: 20px;}




/*HEADER*/

#header-game h1 { font-family:American Typewriter, serif; text-transform: uppercase; color: rgb(70,70,70); font-size: 35px;float: left; text-align: center; height: 150px; width: 150px;}

#header-game ul{ list-style:none;}

#header-game a{ text-decoration: none; color: #444}



header {background-color: rgb(245,245,245); height : 150px; padding-bottom: 20px; border-bottom: 10px solid rgb(151,206,236); padding-bottom: 20px; font-family: cursive;}

#header-image{height: 150px; width: 150px; margin-right: 0px; background: url('images/wikilogo.png')  no-repeat center; background-size: 120px 120px; float: left;}


header nav{float: right; margin-top: 50px;}

header nav ul li{ display: inline-block; font-weight: bold; float :left; font-size: 18px;}

header nav ul li a{ text-transform: uppercase; margin-right: 30px;}


/*WIKI-PAGES*/



/*GAME-INFO*/

#timer{font-size: 20px; text-align: center;}

#button-return{font-size: 20px; text-align: center; background-color: gray; color: #c9e6fd; border : 2px solid rgb(151,206,236); padding: 5px; margin: 10px; }

#game-info{background-color: rgb(245,245,245);}

#word-to-find{ font-family:American Typewriter, serif; text-transform: uppercase; color: rgb(70,70,70); font-size: 15px; text-align: center}
