/* GENERAL*/




.wrapper{ width:  940px; margin : 0 auto; padding : 0 10px;}

.button-wrapper{background-color: darkgray}

body {background-color: white;}


form{ margin: 60px 0 20px 0;}

input[type = "text"]{ padding:10px; font-size: 20px; margin-right: 30px; border: 2px solid #ddd; border-radius: 3px;}

/*FOOTER*/
 
footer{height: 260px; background-color: gray;nborder-top:  10px solid rgb(151,206,236);}

footer h1{color: #c9e6fd; text-align: center; padding-top : 80px;
    font-family:American Typewriter, serif; text-transform: uppercase;font-size: 35px; }

.copyright{ text-align: center; padding-top: 20px;}




/*HEADER*/

#header-game h1 { font-family:American Typewriter, serif; text-transform: uppercase; color: rgb(70,70,70); font-size: 35px;}

#header-game ul{ list-style:none;}

#header-game a{ text-decoration: none; color: #444}



header {background-color: rgb(245,245,245); height : 150px; padding-bottom: 20px; border-bottom: 10px solid rgb(151,206,236); padding-bottom: 20px; font-family: cursive;}

#header-image{height: 150px; width: 150px; margin-right: 0px; background: url('images/wikilogo.png')  no-repeat center; background-size: 120px 120px; float: left;}

#header-title{float: left; text-align: center; height: 150px; width: 150px;}

header nav{float: right; margin-top: 50px;}

header nav ul li{ display: inline-block; font-weight: bold; float :left; font-size: 18px;}

header nav ul li a{ text-transform: uppercase; margin-right: 30px;}


/*WIKI-PAGES*/



/*GAME-INFO*/